<%= link_to "Show All Restaurants", root_path %>
<%= form_for ([@restaurant, @reservation]) do |f| %>
<% reservation.errors.full_messages.each do |m|%>
<p>
  <%= m %>
</p>
<% end %>
  <div class="field">
    <%= f.label :time %>
    <%= f.select :time, reservation_times  %>
  </div>
  <div class="field">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>
  <div class="field">
    <%= f.label :party_size %>
    <%= f.number_field :party_size %>
  </div>
  <div class="actions">
    <%= f.submit data: { confirm: "Your Reservation is Confirmed!"} %>
  </div>
<% end %>
