<%= link_to "Show All Restaurants", root_path %>
<%= form_for restaurant do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date %>
    <%= f.number_field :date %>
  </p>
  <p>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
jthregafwwahsjfdkfghrew
