<h1> Add/Edit a Restaurant </h1>
<%= link_to "Show All Restaurants", root_path %>
<%= form_for restaurant do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :opening_time %>
    <%= f.number_field :opening_time %>
  </div>
  <div class="field">
    <%= f.label :closing_time %>
    <%= f.number_field :closing_time %>
  </div>
  <div class="field">
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
