<!DOCTYPE html>
<html>
<head>
  <title>SeatYo'Self</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


  <header>
    <%= image_tag("/images/SY.png", :alt => "SY") %>
    <h1>Seat<strong>Yo'Self</strong></h1>
    <h3><em>Ain't no better treat than a seat!</em></h3>
    <div class="user-start">
      <p>
        <%= link_to "Sign Up", new_user_path %>
        |
        <%= link_to "Sign In", new_session_path %>
      </p>
    </div>
      <% if current_user %>
        <p>
          Signed In As: <%= current_user.name %>!
          |
          <%= link_to "Logout", session_path(current_user), method: :delete %>
        </p>
      <% else %>
      <% end %>

      <nav>
          <%= link_to("Home", root_url) %>
          <%= link_to("Add your restaurant today!", "/restaurants/new") %>
        </nav>
        <p id="stock-image"></p>
      </header>

  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>
  <main>
    <%= yield %>
  </main>

  <footer><p>&copy; Seat Yo'Self, a Bitmaker Project</p></footer>

</body>
</html>
