<!DOCTYPE html>
<html>
<head>
  <title>SeatYo'Self</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


  <header>
    <%= image_tag("/images/sy.png", :alt => "sy") %>
    <h1>Seat<strong>Yo'Self</strong></h1>
    <h3><em>Ain't no better treat than a seat!</em></h3>
    <div class="user-start">
      <p>Sign Up</p> <p>Sign In</p>
    </div>
    <nav>

    </nav>

  </header>

  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>

<%= yield %>

</body>
</html>
